.App {
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
}

.card {
  list-style: none;
  border: 1px solid #333333;
  padding: 1em;
  margin-bottom: 0.5em;
}

.card p {
  text-align: left;
  margin: 0.5em 0 0;
}

.card p:first-of-type {
  margin-top: 0;
}

.button {
  border: 1px solid #333333;
  background-color: #fff;
  border-radius: 3px;
  padding: 1em;
  margin: 0.5em;
}

.button:first-of-type {
  margin-left: 0;
}

.button-list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  padding: 0;
}
